# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @remyleone

packages @philibea
tools @philibea
tsconfig.json             @philibea
.oxlintrc.jsonc            @philibea
oxfmt.config.ts            @philibea
vite.config.ts            @philibea
vitest.setup.ts            @philibea
vitest.config.ts            @philibea
pnpm-workspace.yaml      @philibea

/packages_generated/account/ @scaleway/devtools-core
/packages_generated/applesilicon/ @scaleway/devtools-compute-foundation
/packages_generated/baremetal/ @scaleway/devtools-compute-foundation
/packages_generated/billing/ @scaleway/devtools-core
/packages_generated/block/ @scaleway/devtools-storage
/packages_generated/cockpit/ @scaleway/devtools-dms
/packages_generated/container/ @scaleway/devtools-compute
/packages_generated/dedibox/ @scaleway/devtools-compute-foundation
/packages_generated/domain/ @scaleway/devtools-dms
/packages_generated/flexibleip/ @scaleway/devtools-network
/packages_generated/function/ @scaleway/devtools-compute
/packages_generated/iam/ @scaleway/devtools-core
/packages_generated/instance/ @scaleway/devtools-compute
/packages_generated/inference/ @scaleway/devtools-ai
/packages_generated/iot/ @scaleway/devtools-dms
/packages_generated/ipam/ @scaleway/devtools-network
/packages_generated/jobs/ @scaleway/devtools-compute
/packages_generated/k8s/ @scaleway/devtools-compute
/packages_generated/key_manager/ @scaleway/devtools-core
/packages_generated/lb/ @scaleway/devtools-network
/packages_generated/marketplace/ @scaleway/devtools-compute
/packages_generated/mnq/ @scaleway/devtools-dms
/packages_generated/rdb/ @scaleway/devtools-dms
/packages_generated/redis/ @scaleway/devtools-dms
/packages_generated/registry/ @scaleway/devtools-compute
/packages_generated/secret/ @scaleway/devtools-core
/packages_generated/serverless_sqldb/ @scaleway/devtools-dms
/packages_generated/tem/ @scaleway/devtools-dms
/packages_generated/vpc/ @scaleway/devtools-network
/packages_generated/vpcgw/ @scaleway/devtools-network
/packages_generated/webhosting/ @scaleway/devtools-dms
