# dependencies
node_modules/
yarn.lock

# misc
.DS_Store
/.vscode

# lint
.eslintcache

packages/*/dist
packages_generated/*/.dist


# test & build
.reports
docs
public
dist
coverage

# Protobuf definition
protobuf
.bufcache


# lerna
lerna-debug.log
