name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  typecheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: pnpm/action-setup@v4.1.0
      - name: Use Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.19.6
          check-latest: true
          cache: 'pnpm'
      - run: make install-dependencies
      - run: make typing
  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: pnpm/action-setup@v4.1.0
      - name: Use Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: 20.19.6
          check-latest: true
          cache: 'pnpm'
      - run: make install-dependencies
      - run: make build
      - run: pnpm run lint
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        test-environment:
          - node
          - jsdom
        node:
          - '20'
          - '22'
          - '24'
    steps:
      - uses: actions/checkout@v4.3.1
      - uses: pnpm/action-setup@v4.1.0
      - name: Use Node.js
        uses: actions/setup-node@v4.4.0
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
          cache: 'pnpm'
      - run: make install-dependencies
      - run: make build
      - run: pnpm run test:coverage --environment ${{ matrix.test-environment }}
      - uses: codecov/codecov-action@v5.5.1
      - run: pnpm run test:junit
      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
